@import 's-variables';


.event-list {
  position: fixed;
  width: 440px;
  height: 100vh;
  float: left;
  background-color: $dark-shade;
  overflow-y: scroll;

  .logo-bar {
    padding: $spacing-reg;
    background-color: $dark-shade;
    color: $white;
    width: 100%;
    display: block;
  }

  .filter-events {
    width: 100%;
    display: block;
    padding: $spacing-reg;
    color: $white;
    appearance: none;
    border: none;
    background-color: $dark-shade;
  }

  ul {
    @include pm-clear;

    .event-list--list-item {
      // @include transition($transition-sm);
      cursor: pointer;
      color: $white;
      width: 100%;
      display: block;
      text-overflow: ellipsis;
      padding: $spacing-reg;
      overflow-y: scroll;

      &:hover {
        background-color: $dark-shade;
      }

      &:last-of-type {
        margin-bottom: $spacing-xl;
      }
    }
  }
}