@import 's-variables';


.event-list {
  @include pm-clear;
  display: block;
  background-color: rgba(0,0,0,0.1);
  width: 33%;
  height: 100vh;
  float: left;

  .event-list--list-item {
    cursor: pointer;
    color: $white;
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    padding: $spacing-reg;

    &:hover {
      background-color: rgba(0,0,0,0.1);
    }
  }
}