@import 's-variables';


.event-list {
  width: 33%;
  min-height: 100vh;
  float: left;
  background-color: $dark-shade;

  .logo-bar {
    padding: $spacing-reg;
    background-color: $dark-shade;
    color: $white;
    width: 100%;
    display: block;
  }

  ul {
    @include pm-clear;

    .event-list--list-item {
      cursor: pointer;
      color: $white;
      width: 100%;
      display: block;
      text-overflow: ellipsis;
      padding: $spacing-reg;
      overflow-y: scroll;

      &:hover {
        background-color: $dark-shade;
      }

      &:last-of-type {
        margin-bottom: $spacing-xl;
      }
    }
  }
}