// colors

$dark:                       #333F4A;

$white:                      #ffffff;


// typography

$primary-font:               -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$fw-bold:                    700;
$fw-light:                   200;
$fw-reg:                     400;

$ls-lg:                      10px;

$fs-sm:                      12px;
$fs-reg:                     15px;
$fs-lg:                      18px;
$fs-xl:                      24px;
$fs-xxl:                     32px;
$fs-xxxl:                    48px;
